h2{
    color:white;
    font-family: 'nexa bold';
}
.wel{
    color:rgba(255,255,255,.5)!important;
    font-family: 'nexa light';
}
.hers{
    left:50%;
}
@media(max-width:768px){
    .hero{
        width:100vw;
        margin-left:25px;
    }
}