.feel{
  text-align: left!important;
  color: rgba(255,255,255,.5)!important;
margin-left:62px;
margin-bottom: 15px;
}
.serviceFullScreen{
  width:100%;
}
.row.rowl{
  padding-left: 0px;
  padding-right: 0px;
  justify-content: space-between;
}
.row.rowf{
  padding-left: 0px;
  padding-right: 0px;
  justify-content: space-between;
}
.row.rowm{
  padding-left: 0px;
  padding-right: 0px;
  justify-content: space-between;
}
h5{
    margin-left: 8px;
    color: white !important;
 }
.column{
      padding-right:15px;
      padding-left:15px;
}  
.cont{
      align-items: center;
      width: 140% !important;
}
.row-md-6{
  text-align: left;
}
.serviceNext{
  background: transparent;
    border-radius: 20px;
    border-style:solid;
    border-color: white!important;
    height:40px;
}
.serviceNext:hover{
  border-color:rgba(255,255,255,.5)!important;
}
.serviceNext p{
  color:white!important;
  margin-top:-5px;
}
  .serviceNext p:hover{
    color:rgba(255,255,255,.5)!important;
}
.serviceNext .p:hover{
  color:white;
}
ul{
  line-height: 1.2;
}
.servicePrev{
  background: transparent;
  border-radius: 20px;
  border-style:solid;
  border-color:white;
  height:40px;
  width:62px;
}
.servicePrev p{
  color:white;
  margin-top:-5px;
}
.servicePrev p:hover{
  color:gray;
}
.servicePrev:hover{
  border-color:gray;
}
.serviceFullScreen{
  display: block;
}
.serviceSmallScreen{
display: none;
}
@media (max-width: 768px) {
  .serviceFullScreen {
    display: none!important;
  }
  button.bt1.serv.d-md-block.d-none.endButtonContainer {
    display: none!important;
}
  .endButtonContainer{
    display: none !important;
  }
  
  .feel{
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
  }
  .serviceSection{
    padding-top: 80px;
    padding-left:43px;
  }
  .servicePrev{
    margin-right:79%;
    margin-top:-5px;
  }
  .serviceNext{
    margin-left:24px;
  }
  .serviceSmallScreen{
    display: block!important;
    }
    .serviceSection{
      width:100%!important;
      }
}
.serviceSmallScreen .fp-controlArrow{
  display: none!important;
}
.serviceSmallScreen .fp-tableCell{
  vertical-align: top;
}
.endButton{
  height: 6px;
  width: 6px;
  background: white;
  border-radius: 3px;
  transition: all 250ms ease-in-out;

}
.endButtonContainer{
  color: white;
    font-size: 1rem;
    display: flex!important;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}
.endButtonContainer:hover .endButton{
transform: translateY(15px);
}
@media (min-width:1200px){
  .container{
    width:140%;
  }
}
@media (max-width:992px){
  .serviceSection{
    width:100%!important;
  }
  .serv{
    margin-left:88px;
  }
}
@media only screen and (max-width: 1200px) and (min-width:992px){
.serviceSection{
  width:100%!important;
}
}
