
.titleFrontPage{
    padding-left:100px;
    padding-top:25%;
    height: 100vh;
    font-family:'nexa light';

    background-color: #1d2128;
}
.titleFrontPage h3{
    color:white;
    font-family: 'nexa bold';
   
}
.btn1{
    color:white;
    border-color: transparent;
    background: transparent;
}
.titleFrontPage h2{
    color:white;
    font-size: 26px;
    margin-left: 10px;
}
.titleFrontPage p{
    color:white;
    margin-left: 10px;
}
.Login{
    margin-top:-12%;
}