body{
    position:absolute;
    background:#1d2128;
    z-index:1100;
    font-family:'nexa light';
}
.titleFrontPage{
    margin-left:100px;
    margin-top:25%;
}
h3{
    color:white;
    font-family: 'nexa bold';
   
}
.btn1{
    color:white;
    border-color: transparent;
    background: transparent;
}
h2{
    color:white;
    font-size: 26px;
    margin-left: 10px;
}
p{
    color:white;
    margin-left: 10px;
}
.Login{
    margin-top:-12%;
}