.leaderShipRow{
   justify-content: center;
    display: flex;
    margin-bottom: 20px !important;
    margin-right: 20px !important;
    margin-left: 20px !important;
    line-height: 0.5;
    margin:auto;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
#mymenu h2{
    line-height: 0.8;
    font-family: "nexa light"!important;
}
.lead{
    position: fixed;
    left: 2.5%;
    padding: 0;
    top: 122vh;
}
#mymenu {
    list-style: none;
    color:white;
    display: block !important;
}
p{
    padding-top: 10px;
    color: white !important;
    margin:auto;
    justify-content: center;
}

.leaders{
    width:100%;
    height:100%;
    border-radius: 50%;
}
.img-holders{
    height:200px;
    width:200px;
    border-radius: 50%;
    background: white!important;
    border: 2px white solid;
    overflow: hidden;
    margin: auto;
    /* transform: rotate(180deg); */
    transition: all 1s linear;

   
}
.normal-rotate{
    transform: rotate(0deg)!important;
}

.img-holders:hover{
    border-width: 8px!important;
    background: white!important;
    cursor:pointer;

}
.img-holders:hover img{
    transform: translate(2px,2px,-1px);
  
}
@media(max-width:768px){
    .leaderShipRow{
        align-items: center;
        display: flex;
        margin-bottom:25px !important;
        margin-right: 10px !important;
        margin-left: 10px !important;
    }
.leaderShipCol {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 9px;
}
    .leaders{
        height:90px;
        width:90px;
        width:100%;
        height:100%;
        border-radius: 50%;
}
.img-holders{
    height:90px;
    width:90px;
    border-radius: 50%;
    background: white!important;
    border: 1px white solid;
    overflow: hidden;
    margin: auto;}
}


[data-aos="rotate-c"]{
    transform: rotate(90deg);
    transition-property: transform;
}
[data-aos="rotate-c"].aos-animate{
    transform: rotate(0deg);
}
@media only screen and (max-width: 992px) and (min-width:768px){
.img-holders{
    height:150px;
    width:150px;
}
}
/* 
[aos="ns"] {
    transform: rotate(-180deg);
    transition-property: transform;
  }
  
  [aos="ns"].aos-animate {
    transform: rotate(0deg);
  } */