.teamRow{
    /* justify-content: center; */
     display: flex;
     margin-bottom: 20px !important;
     margin-right: 20px !important;
     margin-left: 20px !important;
     line-height: 0.5;
     margin:auto;
     padding-left: 30px;
     padding-right: 30px;
     text-align: center;
 }
 .col{
     margin-bottom: 20px !important;
 }
 .teamPage h2{
    color:white;
    font-family: 'nexa bold';
  }
  .teamPage h3{
    color:white;
    font-family: 'nexa bold';
  }
  .teamPage h1{
    color:white;
    font-family: 'nexa bold';
  }
  .teamPage h4{
    color:white;
    font-family: 'nexa bold';
  }
 p{
     padding-top: 10px;
     color: white !important;
     margin:auto;
     justify-content: center;
 }
 .groups{
    color:rgba(255,255,255,.5)!important;
    font-family: 'nexa light';
    margin-top:-9px;
}
 .leaders{
    
     width:100%;
     height:100%;
     border-radius: 50%;
     object-fit: cover;
 }
 #mymenu h2{
    line-height: 0.8;
    font-family: "nexa light"!important;
}
.leaD{
    position: fixed;
    left: 2.5%;
    padding: 0;
    top: calc(200% + 25% ) 
}
.Lead{
    position: fixed;
    left: 2.5%;
    padding: 0; 
    top: calc(300% + 25% ) 
}
#mymenu {
    list-style: none;
    color:white;
    display: block !important;
}
 .img-holder{
     height:160px;
     width:160px;
     border-radius: 50%;
     background: white!important;
     border: 2px white solid;
     overflow: hidden;
     margin: auto;
     /* transform: rotate(180deg); */
     transition: all 0ms linear; 
 }
 /* .normal-rotate{
    transform: rotate(0deg)!important;
    transition: all 800ms linear; 

} */
 .img-holder:hover{
     border-width: 8px!important;
     background: white!important;
     cursor:pointer;
 
 }
 .img-holder:hover img{
     transform: translate(2px,2px,-1px);
   
 }
 @media(max-width:768px){
     .teamRow{
         align-items: center;
         display: flex;
         margin-bottom:25px !important;
         margin-right: 10px !important;
         margin-left: 10px !important;
     }
     .leaD{
        top: calc(200% + 60% ) 
    }
    .Lead{
        top: calc(300% + 60% ) 
    }
 .col-sm-12 {
     flex: 0 0 auto;
     width: 100%;
     margin-bottom: 9px;
 }
     .leaders{
         height:90px;
         width:90px;
         width:100%;
         height:100%;
         border-radius: 50%;
         object-fit: cover;
 }
 .img-holder{
     height:90px;
     width:90px;
     border-radius: 50%;
     background: white!important;
     border: 1px white solid;
     overflow: hidden;
     margin: auto;}
 }
 [data-aos="rotate-c"]{
    transform: rotate(90deg);
    transition-property: transform;
}
[data-aos="rotate-c"].aos-animate{
    transform: rotate(0deg);
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
 