.row{
    justify-content: center;
     display: flex;
     margin-bottom: 20px !important;
     margin-right: 20px !important;
     margin-left: 20px !important;
     line-height: 0.5;
     margin:auto;
     padding-left: 30px;
     padding-right: 30px;
     text-align: center;
 }
 .col{
     margin-bottom: 20px !important;
 }
 
 p{
     padding-top: 10px;
     color: white !important;
     margin:auto;
     justify-content: center;
 }
 .leaders{
    
     width:100%;
     height:100%;
     border-radius: 50%;
    
 }
 .img-holder{
     height:200px;
     width:200px;
     border-radius: 50%;
     background: white!important;
     border: 2px white solid;
     overflow: hidden;
     margin: auto;
 
    
 }
 .img-holder:hover{
     border-width: 8px!important;
     background: white!important;
     cursor:pointer;
 
 }
 .img-holder:hover img{
     transform: translate(2px,2px,-1px);
   
 }
 
 
 @media(max-width:768px){
     .row{
         align-items: center;
         display: flex;
         margin-bottom:25px !important;
         margin-right: 10px !important;
         margin-left: 10px !important;
     }
 .col-sm-12 {
     flex: 0 0 auto;
     width: 100%;
     margin-bottom: 9px;
 }
     .leaders{
         height:90px;
         width:90px;
         width:100%;
         height:100%;
         border-radius: 50%;
 }
 .img-holder{
     height:90px;
     width:90px;
     border-radius: 50%;
     background: white!important;
     border: 1px white solid;
     overflow: hidden;
     margin: auto;}
 }