
.almuniSection{
    width: 90%!important;
    margin-right: 13px;
}
.item{
    height:381px;
    padding-top:10px;
}
.owl-theme .testimonial .owl-nav{
    color:transparent;
}
.owl-theme .testimonial .owl-dots .owl-dot span{
    background:gray;
}
.owl-theme .testimonial .owl-dots .owl-dot.active span{
    background:white;
}
.owl-item{
width: 250px;
}
.imgholder{
    height:35%;
    width:50%;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}
.imgholder img{
    object-fit: cover!important;

}
.card{  
    width: 17rem !important;
    height: 21rem !important;
    background: rgba(0,0,0,0.5);
    box-shadow: 0 5px 10px -8px #000000;
    padding:24px;
    margin-right: 211px;
    border:0;
    border-radius: 24px;
    transition: transform 0.5s linear;
    transform: scale(0.9);
}
.head{
    color:white;
}
.testimonial .owl-item.active.center .card{
    width: 16rem !important;
    height: 23rem !important;
    transition: all 0.5s linear;
    transform: scale(1);
    background: rgba(0,0,0,0.9);
    left:9px;
}
.testBtn{
    left:49%
}
.owl-carousel .testimonial .owl-item img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.owl-theme .testimonial .owl-dots {
    display: flex;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-carousel .owl-item img{
    display:block;
    width:100%;
    height:100%;
}
@media(max-width:768px){
    .almuniSection{
        width: 100%!important;
    }
    .owl-theme .owl-nav {
        display: none;
        margin-top: 10px;
        text-align: center;
        -webkit-tap-highlight-color: transparent;
    }
    button.bt1.testBtn.d-md-block.d-none.endButtonContainer {
        display: none!important;
    }
    .owl-theme .owl-dots {
        display: none;
 }
    .item{
    padding-left: 256px;
    }
  
    .test{
        margin-left:49%;
    }
   
}
@media(max-width:575px){
    .item{
        padding-left: 109px;
        } 
        .test{
            margin-left: -458px;
        }
        .owl-theme .owl-dots {
           display: none;
    }
}
@media only screen and (max-width: 1200px) and (min-width:992px){
    .section{
        width:83%!important;
    }
    .card{
        width: 14rem !important;
    }
    .owl-theme .owl-dots {
        display: flex;
        justify-content: center;
}
.testimonial .owl-item.active.center .card{
    margin-left:-11%;
}
.owl-carousel .owl-stage-outer{
    margin-left:12px;
}
.container{
    margin: left 0px !important;
}
}
/* 
@media(max-width:1200px){
.owl-carousel .owl-stage-outer{
    margin-left: 25px !important;
}
} */