.section{
    text-align:center;
    color:white;
    padding-left: 10%;
    padding-right: 5%;
    margin-left: 20;
    margin-right: 20;
    font-family: 'Lobster Two', cursive;
  }
  .bt1{
    color:white;
    font-weight: bold;
    text-align:center;
  }
  .bt1s{
    position: absolute;
    bottom: 80px;
    right: 282px;
  }