.abtSection{
    width: 90% !important;
    left:6%;
}
h1{
    color:white;
    font-family: 'nexa bold';
}
.we{
    color:rgba(255,255,255,.5)!important;
    font-family: 'nexa light';
    margin-left:7px;
}
.abt{
    left:50%;
}
@media (max-width: 768px){
    button.bt1.abt.d-md-block.d-none.endButtonContainer {
        display: none!important;
    }
}
 @media (max-width: 992px){
    .abtSection{
        width:90%;
    }
}