body{
  background:aqua;
  color:white;
}
.fixed-top{
position:fixed;
top:0;
right:0;
left:0;
z-index:1030;
}

#fp-nav ul li a{
  color: white!important;
  background-color: transparent;
}
.navbarZIndex{
  z-index: 200;
}
.team{
  position:absolute;
  top: 15px;;
  right: 24px;
  left:10;
  }
.team{
  background: transparent;
  border-radius: 20px;
  color:beige;
}
.team:hover{
  border-color: white;
  box-shadow: 0px 10px 500px white;
}
.team a{
  text-decoration: none;
  color:gray;
  font-weight: 500;
}
.team a:hover{
  color:white;
}
.fp-right ul li a fp-sr-only{
  color:white;
}
.fp-sr-only:hover{
  color:white;
}

.bt1{ 
  position:absolute;
  height: 34px;
  width: 18px;
  background: transparent;
  border-radius: 40px;
  bottom: 90%;
 border-color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#fp-nav ul li a span{
  background: white!important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.icon:hover{
  color:white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
