body {
  font-family: "nexa light";
}
.section{
  text-align:center;
  color:white;
  width: 78%!important;
  margin-left: auto!important;
  display:flex;
  height:100vh;
  flex-wrap: wrap;
  font-family: "nexa light";
  font-size: 15px;
  color: rgba(255,255,255,.5)!important;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
#fp-nav ul li a {
  color: white !important;
  background-color: transparent;
}
.navbarZIndex {
  z-index: 200;
}
.fp-right ul li a fp-sr-only {
  color: white;
}
.fp-sr-only:hover {
  color: white;
}

.bt1 {
  position: absolute;
  height: 34px;
  width: 18px;
  background: transparent;
  border-radius: 40px;
  top: 90%;
  left: 40%;
  border-color: white;
}
#fp-nav ul li a span {
  background: white !important;
}

@media (max-width: 768px) {
  .section {
    width: 100%!important;
    margin-left: 0!important;
  }
  .copyright{
    margin-bottom: -19px;
  }
  .bt1{
    display:none;
  }
}

.fp-slidesNav{
  display: none;
}