body {
  font-family: "nexa light"!important;
 
}
.section{
  text-align:center;
  font-size: 16px !important;
  /* width: 82%!important; */
  /* margin-left: auto!important; */
  display:flex;
  height:100vh;
  flex-wrap: wrap;
  font-family: "nexa light";
  font-size: 15px;
  color: rgba(255,255,255,.5)!important;
}
#fp-nav.fp-right {
  right: 48px!important;
}
#fp-nav ul li a.active span {
  height: 10px!important;
  width: 10px!important;
  margin-left:-5.5px!important;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
  border: 2px solid rgb(170, 167, 167);
}
#fp-nav ul li a:active a:hover span{
  height: 14px!important;
  width: 14px!important;
} 
#fp-nav ul li a:hover span{
  height: 12px;
  width: 12px;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
#fp-nav ul li a {
  color: white !important;
  background-color: transparent;
}
.navbarZIndex {
  z-index: 200;
}
.fp-right ul li a fp-sr-only {
  color: white;
}
.fp-sr-only:hover {
  color: white;
}

.bt1 {
  position: absolute;
  height: 34px;
  width: 18px;
  background: transparent;
  border-radius: 40px;
  top: 90%;
  left: 40%;
  border-color: white;
}
#fp-nav ul li a span {
  background: white !important;
}

@media (max-width: 768px) {
  .section {
    width: 100%!important;
    margin-left: 0!important;
  }
  .copyright{
    margin-bottom: -19px;
  }
  .bt1{
    display:none;
  }
}

.fp-slidesNav{
  display: none;
}
@media (max-width: 1075px){
  #fp-nav.fp-right{
    display:none;
  }
}


.nonVisible{
  visibility: hidden;
  background-image: url("./assets/images/b1.jpg"),
  url("./assets/images/b2.jpg"), url("./assets/images/b3.jpg"),
  url("./assets/images/b4.jpg"), url("./assets/images/b5.jpg"),
  url("./assets/images/b6.jpg"), url("./assets/images/b7.jpg"),
  url("./assets/images/b1.jpg"), url("./assets/images/backgroundimage.webp"); ;
}