
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%;
  height: 100vh;
}
@font-face {
  font-family: 'Nexa Bold';
  src: local('Nexa Bold'), url('./assets/fonts/Nexa\ Bold.otf') format('opentype')
}
@font-face {
  font-family: 'Nexa Light';
  src: local('Nexa Light'), url('./assets/fonts/Nexa\ Light.otf') format('opentype')
}
@font-face {
  font-family: 'Nexa Regular';
  src: local('Nexa Regular'), url('./assets/fonts/Nexa\ Regular.otf') format('opentype')
}
.Section_top{
  width:100%;
  height:100%;
  overflow: hidden;
  position:relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align:center;
  justify-content: center;
  animation:change 30s infinite linear;
  position: relative;
  z-index: 0;

}
.Section_top::after{
  content:"";
 background-image: linear-gradient(300deg, rgba(255, 15, 135, 0.6) 0%, rgba(70, 18, 204, 0.6) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@keyframes change {
  0%{
   background-image: url('./assets/images/1.webp');
  }
  17%{
    background-image: url('./assets/images/2.jpg');
  }
  34%{
    background-image: url('./assets/images/3.webp');
  }
  51%{
    background-image: url('./assets/images/4.webp');
  }
  68%{
    background-image: url('./assets/images/5.png');
  }
  85%{
    background-image: url('./assets/images/6.webp');
  }
  100%{
    background-image: url('./assets/images/7.webp');
  }
 
}